:root {
	--primary: #fa8b0d;
	--secondary: #ffb703;
	--light: #f8f8f8;
	--light-alt: #8ecae6;
	--dark: #023047;
	--dark-alt: #219ebc;
	--green: #06d6a0;
	--red: #f82b2b;
	font-family: "Fira Sans", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
