:root {
	--primary: #fb8500;
	--secondary: #ffb703;
	--light: #f8f8f8;
	--light-alt: #8ecae6;
	--dark: #023047;
	--dark-alt: #219ebc;
	--green: #06d6a0;
	font-family: "Fira Sans", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Fira Sans", sans-serif;
}

body {
	background-color: var(--light);
	color: var(--dark);
}

.App {
	padding: 32px;
	height: 100vh;
}

h1 {
	font-size: 42px;
	font-weight: 700;
	margin-bottom: 32px;
}

h4 {
	font-size: 25px;
	color: var(--dark-alt);
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 16px;
}

.todo {
	height: 60px;
	position: relative;
	background-color: var(--dark);
	padding: 16px;
	border-radius: 16px;
	display: flex;
	align-items: center;
	transition: 0.5s;
	cursor: pointer;
	margin-bottom: 16px;
}

.todo:hover {
	opacity: 0.9;
}

.todo .checkbox {
	width: 20px;
	height: 20px;
	margin-right: 20px;
	border-radius: 50%;
	background-color: var(--primary);
	background-image: linear-gradient(to bottom, transparent, transparent);
	transition: 0.4s;
}

.todo.is-complete .checkbox {
	background-color: var(--dark-alt);
	background-image: linear-gradient(to bottom, var(--dark-alt), var(--green));
}

.todo .text {
	font-size: 20px;
	color: var(--light);
}

.todo.is-complete .text {
	text-decoration: line-through;
}

.todo .delete-todo {
	position: absolute;
	right: 16px;
	display: flex;
	color: var(--light);
	font-size: 30px;
}

.todo .delete-todo:hover {
	transform: scale(1.1);
}

.addPopup {
	position: fixed;
	bottom: 32px;
	right: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 70px;
	color: var(--primary);
	cursor: pointer;
}

.addPopup:hover {
	transform: scale(1.1);
}

.pop-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.623);
	z-index: 9999;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 450px;
	background-color: var(--light);
	padding: 32px;
	border-radius: 16px;
}

.closePopup {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 30px;
	color: var(--dark);
	cursor: pointer;
}

.popup h3 {
	color: var(--dark);
	margin: 10px 0 20px 0;
	font-size: 24px;
	font-weight: 400;
}

.add-todo-input {
	appearance: none;
	outline: none;
	border: none;
	background-color: #ffffff;
	padding: 14px;
	border-radius: 16px;
	width: 100%;
	box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.219);
	font-size: 20px;
}

.add-todo-input::placeholder {
	opacity: 0.7;
}

.button {
	padding: 16px 32px;
	border-radius: 999px;
	background-color: var(--primary);
	display: inline-block;
	font-size: 18px;
	margin-top: 16px;
	text-align: center;
	cursor: pointer;
	color: var(--light);
}

#notasks {
	margin-top: 30px;
	font-size: 20px;
}

@media screen and (max-width: 480px) {
	h1 {
		font-size: 34px;
		margin-top: 15px;
		margin-bottom: 25px;
	}
	#notasks {
		margin-top: 20px;
		font-size: 18px;
	}
	.todo {
		height: 50px;
	}
	.popup {
		width: 90%;
		padding: 24px;
	}
}
