.container {
	width: 100%;
	min-height: 95vh;
	background-color: var(--light);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.left {
	height: 95vh;
	flex: 1;
	padding-right: 90px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
	background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='87' height='50.232' patternTransform='scale(4) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M0 54.424l14.5-8.373c4.813 2.767 9.705 5.573 14.5 8.37l14.5-8.373V29.303M0 4.193v16.744l-14.5 8.373L0 37.68l14.5-8.374V12.562l29-16.746m43.5 58.6l-14.5-8.37v-33.49c-4.795-2.797-9.687-5.603-14.5-8.37m43.5 25.111L87 37.67c-4.795-2.797-24.187-13.973-29-16.74l-14.5 8.373-14.5-8.37v-33.489m72.5 8.365L87 4.183l-14.5-8.37M87 4.183v16.745L58 37.673v16.744m0-66.976V4.185L43.5 12.56c-4.795-2.797-24.187-13.973-29-16.74L0 4.192l-14.5-8.37m29 33.484c4.813 2.767 9.705 5.573 14.5 8.37V54.42'  stroke-linecap='square' stroke-width='0.5' stroke='hsla(32, 96%, 52%, 0.43)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-36,0)' fill='url(%23a)'/></svg>");
}

.description {
	font-size: 50px;
	font-weight: 700;
	color: var(--dark);
}

.right {
	flex: 0.8;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 95vh;
	background-color: var(--primary);
}

.label {
	font-size: 34px;
	margin-bottom: 10px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 300px;
}

.input {
	outline: none;
	border: none;
	width: 100%;
	padding: 15px;
	border-radius: 10px;
	background-color: var(--light);
	margin: 5px 0;
	font-size: 14px;
}

.error_msg {
	width: 100%;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: var(--red);
	color: white;
	border-radius: 5px;
	text-align: center;
}

.signup_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: var(--dark);
	border-radius: 20px;
	width: 100%;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	margin-top: 10px;
	color: var(--light);
}

.login {
	margin-top: 20px;
	font-size: 18px;
	display: flex;
	align-items: center;
}

.login .existing_account {
	margin: 0;
	color: white;
	font-size: 18px;
}

.login_link {
	color: var(--dark);
	text-decoration: underline;
	cursor: pointer;
}

.register_button {
	display: none;
	padding: 14px 32px;
	border-radius: 999px;
	background-color: var(--primary);
	font-size: 18px;
	margin-top: 16px;
	text-align: center;
	cursor: pointer;
	color: var(--light);
}

@media screen and (max-width: 1100px) {
	.left {
		padding-right: 40px;
	}
	.description {
		font-size: 35px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		flex-direction: column;
	}
	.left {
		padding-right: 20px;
		text-align: right;
		flex: none;
		width: 100%;
	}
	.description {
		font-size: 30px;
	}
	.right {
		flex: none;
		width: 100%;
	}
	.register_button {
		display: block;
	}
}
