body {
	background-color: var(--light);
	color: var(--dark);
}

.tasks-page {
	padding: 40px;
	height: 100vh;
}

h1 {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 32px;
}

h4 {
	font-size: 25px;
	color: var(--dark-alt);
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 15px;
}

.leave-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.leave-container svg {
	cursor: pointer;
	color: var(--dark);
	font-size: 45px;
}

.leave-container svg:hover {
	transform: scale(1.1);
}

.todo {
	height: 60px;
	position: relative;
	background-color: var(--dark);
	padding: 16px;
	border-radius: 16px;
	display: flex;
	align-items: center;
	transition: 0.5s;
	cursor: pointer;
	margin-bottom: 16px;
}

.todo:hover {
	opacity: 0.9;
}

.todo .checkbox {
	width: 20px;
	height: 20px;
	margin-right: 20px;
	border-radius: 50%;
	background-color: var(--primary);
	background-image: linear-gradient(to bottom, transparent, transparent);
	transition: 0.4s;
}

.todo.is-complete .checkbox {
	background-color: var(--dark-alt);
	background-image: linear-gradient(to bottom, var(--dark-alt), var(--green));
}

.todo .text {
	font-size: 20px;
	color: var(--light);
}

.todo.is-complete .text {
	text-decoration: line-through;
}

.todo .delete-todo {
	position: absolute;
	right: 16px;
	display: flex;
	color: var(--light);
	font-size: 30px;
}

.todo .delete-todo:hover {
	transform: scale(1.1);
}

.addPopup {
	width: 64px;
	height: 64px;
	position: fixed;
	bottom: 40px;
	right: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 60px;
	color: var(--light);
	cursor: pointer;
	background-color: var(--primary);
	border-radius: 50%;
}

.addPopup:hover {
	transform: scale(1.1);
}

.pop-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.623);
	z-index: 9999;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 450px;
	background-color: #eeeeee;
	padding: 32px;
	border-radius: 16px;
}

.closePopup {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 30px;
	color: var(--dark);
	cursor: pointer;
}

.popup h3 {
	color: var(--dark);
	margin: 10px 0 20px 0;
	font-size: 24px;
	font-weight: 400;
}

.add-todo-input {
	appearance: none;
	outline: none;
	border: none;
	background-color: var(--light);
	padding: 14px;
	border-radius: 16px;
	width: 100%;
	height: 45px;
	box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.096);
	font-size: 20px;
}

.add-todo-input::placeholder {
	opacity: 0.7;
}

.button {
	padding: 16px 32px;
	border-radius: 999px;
	background-color: var(--primary);
	display: inline-block;
	font-size: 18px;
	margin-top: 16px;
	text-align: center;
	cursor: pointer;
	color: var(--light);
}

.notasks {
	margin-top: 30px;
	font-size: 20px;
}

@media screen and (max-width: 480px) {
	h1 {
		font-size: 30px;
		margin: 30px 0 15px 0;
	}

	h4 {
		font-size: 20px;
	}
	
	#notasks {
		margin-top: 20px;
		font-size: 18px;
	}

	.todo {
		height: 50px;
	}

	.popup {
		width: 90%;
		padding: 20px;
	}

	.button {
		padding: 12px 24px;
		font-size: 16px;
	}

	.tasks-page {
		padding: 20px;
	}

	.delete-todo svg {
		font-size: 28px;
	}

	.leave-container svg {
		font-size: 40px;
	}
	.addPopup {
		width: 54px;
		height: 54px;
		font-size: 50px;
		bottom: 40px;
		right: 40px;
	}
}
