.container {
	width: 100%;
	min-height: 100vh;
	background-color: var(--light);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.left {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.description {
	font-size: 40px;
	margin: 0;
}

h1 {
	font-size: 34px;
	margin-bottom: 20px;
	color: var(--dark);
}

.right {
	flex: 0.7;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--primary);
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 300px;
}

.input {
	outline: none;
	border: none;
	width: 100%;
	padding: 15px;
	border-radius: 10px;
	background-color: var(--light);
	margin: 5px 0;
	font-size: 14px;
}

.error_msg {
	width: 100%;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.login_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: var(--dark);
	border-radius: 20px;
	width: 100%;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	margin-top: 10px;
	color: var(--light);
}

.signup {
	margin-top: 20px;
	font-size: 18px;
	display: flex;
	align-items: center;
}

.signup .new_here_text {
	margin: 0;
	color: white;
	font-size: 18px;
}

.signup_link {
	color: var(--dark);
	text-decoration: underline;
	cursor: pointer;
}
